/* CREATED BY:- YASH SHARMA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
nav{
    height: 100px;
    width: 100%;
    background-color: #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    font-size: 2.25vw;
}
.nav2{
    display: flex;
    justify-content: center;
    gap: 4vw;
}
.nav2 h4{
    font-size: 2vw;
    text-transform: capitalize;
    cursor: pointer;
}
.nav2 button{
    height:7vh;
    width: 7vw;
    background-color: #20ba49;
    color: white;
    font-size: 1.50vw;
    font-weight: 600;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
    transition: ease-in-out 0.25;
}
.nav2 button:hover{
    background-color: #203cba;
    color: white;
    transition: ease-in-out 0.25;

}
#tag{
    padding-right: 3vw;
    font-size: 3vw;
    color: #333;
    cursor: pointer;
}
.content{
    height: 90vh;
    /* background-color: black; */
    display: flex;
}
.div1{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    padding: 7vh 2.25vw;
}
.div1 h2{
    font-size: 3.25vw;
    color:black;
    font-weight: 600;
    
}
.div1 span{
    color: royalblue;
}
.div1 p{
    font-size: 1.5vw;
    margin-top: 4vh;
    font-weight: 500;
}
.div1 button{
    height: 7vh;
    width: 15vw;
    border-radius: 15px;
    background-color: #20ba49;
    font-size: 2vw;
    margin-top: 5vh;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: ease-in-out 0.25;

}
.div1 button:hover{
    background-color: #203cba;
    color: white;
    transition: ease-in-out 0.25;
}
.div2{
    height: 100%;
    width: 50%;
    /* background-color: green; */
    padding: 3vh 5vw;
 }
 .div2 img{
    height: 80vh;
    width: 40vw;
 }
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    nav h2{
        font-size: 5vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .nav2 h4{
        display: none;
    }
    .nav2 button{
        height: 8vw;
        width: 20vw;
        background-color: #20ba49;
        color: white;
        font-size: 4vw;
        text-transform: capitalize;
        font-weight: 600;
        transition: all ease-out 3s;
        cursor: pointer;
    }
    .nav2 button:hover{
        background-color: #203cba;
        color: white;
        transition: ease-in-out 0.25;
    }
    #tag{
        padding-right: 3vw;
        font-size: 8vw;
        color: #333;
    }
    .content{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }
    .div1{
        height: 50%;
        width: 100%;
    }
    .div1 h2{
        font-size: 7vw;
        font-weight: 700;
    }
    .div1 p{
        font-size: 5vw;
        font-weight: 600;
    }
    .div1 button{
        height: 9vh;
        width: 25vw;
        margin-left: 30vw;
        font-size: 5vw;
        color: white;
        transition: ease-in-out 1s;

    }
    .div1 button:hover{
        background-color: #203cba;
        color: white;
        transition: ease-in-out 0.25;
    }
    .div2{
        height: 100%;
        width: 100%;
    }
    .div2 img{
        margin-top: 0;
        height: 70vh;
        width: 90vw;
    }
}

